---
import AppShell from '../layouts/AppShell.astro';
import CFAROfferSection from '../components/checkout/CFAROfferSection';
---

<AppShell title="Flight Checkout Simulation | AeroDemo Airlines">
  <div style="padding: var(--space-6) 0; max-width: 1200px; margin: 0 auto; width: 100%;">
    <CFAROfferSection client:load />
  </div>
</AppShell>
